.header{
height:71px;
background-color:#4060AD;
color:white;
}
.reg{
margin-top:20px;
height:500px;
}


.footer{
	height:72px;
	background-color:#0460AD;
	color:white;
}
.footer h4{
	margin-top:25px;	
	
}
.change{
margin-top:60px;
height:600px;
}